In [73]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
# Some configuration of the plots we will create later
%matplotlib inline
plt.rcParams["figure.figsize"] = (12,6)

In [74]:
df = pd.read_csv('data/BADS_WS2021_known.csv')
df_uk = pd.read_csv('data/BADS_WS2021_unknown.csv')

In [75]:
print(df.head())
print(df.info())

   order_item_id  order_date delivery_date  item_id item_size item_color  \
0              1  2016-06-22    2016-06-27      643        38       navy
1              2  2016-06-22           NaN      337       152       grey
2              3  2016-06-22    2016-06-27      270       xxl       grey
3              4  2016-06-22    2016-06-27      142       xxl       grey
4              5  2016-06-22    2016-06-27      561       xxl       grey

   brand_id  item_price  user_id user_title    user_dob          user_state  \
0        30       49.90    30822        Mrs  1969-04-17              Saxony
1        30       19.95    30822        Mrs  1969-04-17              Saxony
2        49       79.90    30823        Mrs  1970-04-22  Baden-Wuerttemberg
3        49       99.90    30823        Mrs  1970-04-22  Baden-Wuerttemberg
4         3       14.90    30823        Mrs  1970-04-22  Baden-Wuerttemberg

  user_reg_date  return
0    2016-06-23       0
1    2016-06-23       0
2    2015-03-15       1
3    2015-03-15       0
4    2015-03-15       1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 14 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   order_item_id  100000 non-null  int64
 1   order_date     100000 non-null  object
 2   delivery_date  90682 non-null   object
 3   item_id        100000 non-null  int64
 4   item_size      100000 non-null  object
 5   item_color     100000 non-null  object
 6   brand_id       100000 non-null  int64
 7   item_price     100000 non-null  float64
 8   user_id        100000 non-null  int64
 9   user_title     100000 non-null  object
 10  user_dob       91275 non-null   object
 11  user_state     100000 non-null  object
 12  user_reg_date  100000 non-null  object
 13  return         100000 non-null  int64
dtypes: float64(1), int64(5), object(8)
memory usage: 10.7+ MB
None

In [76]:
df.user_title.value_counts()
df.item_size.value_counts()
df.item_color.value_counts()
df.user_state.value_counts()

North Rhine-Westphalia           22825
Lower Saxony                     15149
Bavaria                          13672
Baden-Wuerttemberg               11981
Hesse                             7586
Schleswig-Holstein                5531
Rhineland-Palatinate              4784
Berlin                            4093
Saxony                            3147
Hamburg                           2535
Brandenburg                       2231
Mecklenburg-Western Pomerania     1640
Thuringia                         1550
Bremen                            1258
Saxony-Anhalt                     1122
Saarland                           896
Name: user_state, dtype: int64

In [77]:
df.user_title = df.user_title.astype('category')
df.user_title = df.user_title.astype('category')
df.user_title = df.user_title.astype('category')
df.user_title = df.user_title.astype('category')
df.item_size = df.item_size.astype('category')
df.item_color = df.item_color.astype('category')
df.user_state = df.user_state.astype('category')


df['order_date'] = pd.to_datetime(df['order_date'])
df['delivery_date'] = pd.to_datetime(df['delivery_date'])
df['user_reg_date'] = pd.to_datetime(df['user_reg_date'])
df['user_dob'] = pd.to_datetime(df['user_dob'])

df['return'] = df['return'].astype('bool')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 14 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   order_item_id  100000 non-null  int64
 1   order_date     100000 non-null  datetime64[ns]
 2   delivery_date  90682 non-null   datetime64[ns]
 3   item_id        100000 non-null  int64
 4   item_size      100000 non-null  category
 5   item_color     100000 non-null  category
 6   brand_id       100000 non-null  int64
 7   item_price     100000 non-null  float64
 8   user_id        100000 non-null  int64
 9   user_title     100000 non-null  category
 10  user_dob       91275 non-null   datetime64[ns]
 11  user_state     100000 non-null  category
 12  user_reg_date  100000 non-null  datetime64[ns]
 13  return         100000 non-null  bool
dtypes: bool(1), category(4), datetime64[ns](4), float64(1), int64(4)
memory usage: 7.4 MB

In [79]:
pd.crosstab(df.user_title, df['return'], normalize='index')

return           False     True
user_title
Company       0.375000  0.625000
Family        0.603865  0.396135
Mr            0.576756  0.423244
Mrs           0.540192  0.459808
not reported  0.666667  0.333333

In [81]:
pd.crosstab(df.item_size, df['return'], normalize='index')

return        False     True
item_size
1          0.550000  0.450000
10         0.462094  0.537906
10+        0.508571  0.491429
100        0.466667  0.533333
104        0.810345  0.189655
...             ...       ...
unsized    0.723148  0.276852
xl         0.544312  0.455688
xs         0.600000  0.400000
xxl        0.570154  0.429846
xxxl       0.697674  0.302326

[102 rows x 2 columns]