In [108]:
import datetime
import statistics

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from IPython.core.display import display
from sklearn.model_selection import GridSearchCV, train_test_split
from sklearn.linear_model import LogisticRegression


%matplotlib inline
plt.rcParams["figure.figsize"] = (12,6)

In [109]:
df_og = pd.read_csv('data/BADS_WS2021_known.csv')
# df_uk = pd.read_csv('data/BADS_WS2021_unknown.csv')

X_train, X_test, y_train, y_test = train_test_split(df_og['return'], df_og.drop('return', axis=1), test_size=0.001)
y_test.insert(len(y_test.columns), 'return', X_test)
df = y_test

In [110]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 62630 to 49795
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_item_id  100 non-null    int64
 1   order_date     100 non-null    object
 2   delivery_date  87 non-null     object
 3   item_id        100 non-null    int64
 4   item_size      100 non-null    object
 5   item_color     100 non-null    object
 6   brand_id       100 non-null    int64
 7   item_price     100 non-null    float64
 8   user_id        100 non-null    int64
 9   user_title     100 non-null    object
 10  user_dob       91 non-null     object
 11  user_state     100 non-null    object
 12  user_reg_date  100 non-null    object
 13  return         100 non-null    int64
dtypes: float64(1), int64(5), object(8)
memory usage: 11.7+ KB
None

In [111]:
df.item_size.value_counts()
df.item_color.value_counts()
df.user_title.value_counts()
df.user_state.value_counts()

North Rhine-Westphalia           30
Bavaria                          20
Lower Saxony                     14
Hesse                             6
Saxony                            4
Rhineland-Palatinate              4
Berlin                            3
Baden-Wuerttemberg                3
Hamburg                           3
Thuringia                         2
Schleswig-Holstein                2
Saxony-Anhalt                     2
Bremen                            2
Mecklenburg-Western Pomerania     2
Brandenburg                       2
Saarland                          1
Name: user_state, dtype: int64

In [112]:
df.user_title = df.user_title.astype('category')
df.item_size = df.item_size.astype('category')
df.item_color = df.item_color.astype('category')
df.user_state = df.user_state.astype('category')


df['order_date'] = pd.to_datetime(df['order_date'])
df['delivery_date'] = pd.to_datetime(df['delivery_date'])
df['user_reg_date'] = pd.to_datetime(df['user_reg_date'])
df['user_dob'] = pd.to_datetime(df['user_dob'])

df['return'] = df['return'].astype('bool')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 62630 to 49795
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_item_id  100 non-null    int64
 1   order_date     100 non-null    datetime64[ns]
 2   delivery_date  87 non-null     datetime64[ns]
 3   item_id        100 non-null    int64
 4   item_size      100 non-null    category
 5   item_color     100 non-null    category
 6   brand_id       100 non-null    int64
 7   item_price     100 non-null    float64
 8   user_id        100 non-null    int64
 9   user_title     100 non-null    category
 10  user_dob       91 non-null     datetime64[ns]
 11  user_state     100 non-null    category
 12  user_reg_date  100 non-null    datetime64[ns]
 13  return         100 non-null    bool
dtypes: bool(1), category(4), datetime64[ns](4), float64(1), int64(4)
memory usage: 11.6 KB

In [113]:
# finding missing values

print(df.isnull().sum())
# sns.heatmap(df.isnull(), cbar=False)  # quick visualization of the missing values in our data set

order_item_id     0
order_date        0
delivery_date    13
item_id           0
item_size         0
item_color        0
brand_id          0
item_price        0
user_id           0
user_title        0
user_dob          9
user_state        0
user_reg_date     0
return            0
dtype: int64

In [114]:
# check relation between null values in delivery_date and return value
# assumption: delivery_date=null --> item not delivered --> item was returned before it was delivered

df.loc[df.delivery_date.isnull(), 'return'].value_counts()
# all orders where delivery_date is null (missing), were not returned, assumption was wrong.
# I assume that all those orders were delivered

False    13
Name: return, dtype: int64

In [115]:
print('amount of orders delivered on 1994-12-31: {}'.format(df_og.loc[df_og.delivery_date=='1994-12-31', 'delivery_date'].count()))
print('[delivery_date, amount] of orders where the delivery_date is before the order_date: {}'.format(df_og.loc[df_og.delivery_date<df_og.order_date, 'delivery_date'].value_counts()))

# all delivery_date where the delivery date is 1994-12-31 need to be replaced changed together with the missing values

amount of orders delivered on 1994-12-31: 1072
[delivery_date, amount] of orders where the delivery_date is before the order_date: 1994-12-31    1072
Name: delivery_date, dtype: int64

In [116]:
df.head()

,order_item_id,order_date,delivery_date,item_id,item_size,item_color,brand_id,item_price,user_id,user_title,user_dob,user_state,user_reg_date,return
62630,62631,2016-08-10,2016-08-13,250,36,black,7,12.90,15545,Mrs,1901-09-25,Lower Saxony,2015-02-17,False
49177,49178,2016-08-02,2016-09-17,1750,l,olive,30,34.95,39059,Mr,NaT,North Rhine-Westphalia,2016-08-03,False
6466,6467,2016-06-27,2016-06-28,245,38,black,1,59.90,4146,Mrs,1947-04-13,North Rhine-Westphalia,2015-02-17,False
9198,9199,2016-06-27,2016-07-23,137,39,blue,38,54.90,32429,Mr,NaT,North Rhine-Westphalia,2016-06-28,False
1989,1990,2016-06-23,2016-06-26,666,10,brown,19,69.90,31245,Mrs,1962-12-20,Bavaria,2015-02-17,True

In [117]:
# change dates
# calculate delivery_times

In [118]:
# df.insert(3, 'delivery_time', [0]*len(df))

In [119]:
# replace delivery_times with None where delivery_date=='1994-12-31' (negative delivery_time) in order to replace the value with mean
df.loc[df.delivery_date=='1994-12-31', 'delivery_date'] = None

#create new column delivery_time, for null values in delivery_date, the mean delivery_time will be placed
df['delivery_time'] = [(d_date - o_date).days for d_date, o_date in zip(df.delivery_date, df.order_date)]

delivery_time_mean = round(df.delivery_time.mean(skipna=True))
df.delivery_time.fillna(delivery_time_mean, inplace=True)

In [120]:
# check if there is a relation between missing dob and user_title (i.e. companies dont have birth dates)
df['user_title'][df.user_dob.isnull()].value_counts()

# no pattern recognizable

Mrs    7
Mr     2
Name: user_title, dtype: int64

In [121]:
df['user_age'] = [(o_date - dob).days / 365 for o_date, dob in zip(df.order_date, df.user_dob)]
user_age_mean = round(df.user_age.mean(skipna=True))
df.user_age.fillna(user_age_mean)
df.user_age = df.user_age.round()
df.head()

,order_item_id,order_date,delivery_date,item_id,item_size,item_color,brand_id,item_price,user_id,user_title,user_dob,user_state,user_reg_date,return,delivery_time,user_age
62630,62631,2016-08-10,2016-08-13,250,36,black,7,12.90,15545,Mrs,1901-09-25,Lower Saxony,2015-02-17,False,3.0,115.0
49177,49178,2016-08-02,2016-09-17,1750,l,olive,30,34.95,39059,Mr,NaT,North Rhine-Westphalia,2016-08-03,False,46.0,NaN
6466,6467,2016-06-27,2016-06-28,245,38,black,1,59.90,4146,Mrs,1947-04-13,North Rhine-Westphalia,2015-02-17,False,1.0,69.0
9198,9199,2016-06-27,2016-07-23,137,39,blue,38,54.90,32429,Mr,NaT,North Rhine-Westphalia,2016-06-28,False,26.0,NaN
1989,1990,2016-06-23,2016-06-26,666,10,brown,19,69.90,31245,Mrs,1962-12-20,Bavaria,2015-02-17,True,3.0,54.0

In [122]:
# check if there are negative price_values
len(df.loc[df.item_price < 0, 'item_price'])

0

In [123]:
# y = df['return']
# X = df.drop(['order_item_id', 'order_date', 'delivery_date', 'user_id', 'user_dob','return'], axis=1)
#
# X_train, X_test, y_train, y_test = train_test_split(X, y)

In [124]:

# estimator = LogisticRegression()
# parameter = {"penalty":["none", "l2"]}
# logit = GridSearchCV(estimator, parameter)
# logit.fit(X_train, y_train)

In [125]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 62630 to 49795
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_item_id  100 non-null    int64
 1   order_date     100 non-null    datetime64[ns]
 2   delivery_date  86 non-null     datetime64[ns]
 3   item_id        100 non-null    int64
 4   item_size      100 non-null    category
 5   item_color     100 non-null    category
 6   brand_id       100 non-null    int64
 7   item_price     100 non-null    float64
 8   user_id        100 non-null    int64
 9   user_title     100 non-null    category
 10  user_dob       91 non-null     datetime64[ns]
 11  user_state     100 non-null    category
 12  user_reg_date  100 non-null    datetime64[ns]
 13  return         100 non-null    bool
 14  delivery_time  100 non-null    float64
 15  user_age       91 non-null     float64
dtypes: bool(1), category(4), datetime64[ns](4), float64(3), int64(4)
memory usage: 13.2 KB

In [139]:
res = pd.crosstab(df_og.item_size, df_og['return'])
res['odds_ratio'] = res[0] / res[1]
res.sort_values('odds_ratio', inplace=True)
display(res.to_stata)

'return        0     1  odds_ratio\nitem_size                        \n4034          0     1    0.000000\n3132          0     1    0.000000\n2+            0     2    0.000000\n80            0     2    0.000000\n84            0     1    0.000000\n12+           0     1    0.000000\n44+           3     7    0.428571\n22           49    80    0.612500\n13           20    31    0.645161\n58            2     3    0.666667\n4032          4     6    0.666667\n36+           9    13    0.692308\n40+          80   107    0.747664\n14            3     4    0.750000\n3632          7     9    0.777778\n48          428   550    0.778182\n46          582   743    0.783311\n23           46    57    0.807018\n6+          199   237    0.839662\n54           11    13    0.846154\n6           203   239    0.849372\n50           68    80    0.850000\n3+            6     7    0.857143\n10          128   149    0.859060\n8           232   270    0.859259\n100           7     8    0.875000\n42+          58    65    0.892308\n41+          50    56    0.892857\n19           55    61    0.901639\n11+          11    12    0.916667\n37+          36    39    0.923077\n7           185   200    0.925000\n30           63    68    0.926471\n31           94    99    0.949495\n11           92    95    0.968421\n42         2446  2523    0.969481\n21           75    76    0.986842\n39+         105   106    0.990566\n12           37    37    1.000000\n4            73    72    1.013889\n41         2389  2350    1.016596\n40         3886  3807    1.020751\n18           46    45    1.022222\n5+          128   125    1.024000\n38+          81    79    1.025316\n44         1119  1086    1.030387\n10+          89    86    1.034884\n9           202   190    1.063158\n43          790   738    1.070461\n36          711   661    1.075643\n20           74    67    1.104478\n39         3443  3093    1.113159\ns          2097  1852    1.132289\n37         1218  1071    1.137255\n7+          175   153    1.143791\nm          5505  4685    1.175027\nxl         5976  5003    1.194483\n38         3065  2546    1.203849\nl          6755  5592    1.207976\n5           134   110    1.218182\n1            22    18    1.222222\n25           35    28    1.250000\n24           74    57    1.298246\n3332         21    16    1.312500\nxxl        5112  3854    1.326414\n32           81    61    1.327869\n8+          142   105    1.352381\n33           89    65    1.369231\n29           85    62    1.370968\n4+           54    39    1.384615\n9+          114    77    1.480519\nxs           21    14    1.500000\n34          108    68    1.588235\n3832          8     5    1.600000\n26           58    35    1.657143\n45+           5     3    1.666667\n46+           9     5    1.800000\n35          153    82    1.865854\n52           15     8    1.875000\n45          141    73    1.931507\n47           31    16    1.937500\n27           76    36    2.111111\n2             9     4    2.250000\nxxxl         60    26    2.307692\n43+          12     5    2.400000\n56           13     5    2.600000\nunsized    3777  1446    2.612033\n128          85    32    2.656250\n3            24     8    3.000000\n152          73    24    3.041667\n28           61    20    3.050000\n164          21     5    4.200000\n104          47    11    4.272727\n140          90    21    4.285714\n116          71    13    5.461538\n176           7     1    7.000000\n90           11     1   11.000000\n49            1     0         inf\n3432         13     0         inf\n105           1     0         inf\n3634          1     0         inf\n3834          1     0         inf'

In [133]:
remap_dict = {
    '4034': '4034, 3132, 2+, 80, 84, 12+',
    '3132': '4034, 3132, 2+, 80, 84, 12+',
    '2+': '4034, 3132, 2+, 80, 84, 12+',
    '80': '4034, 3132, 2+, 80, 84, 12+',
    '84': '4034, 3132, 2+, 80, 84, 12+',
    '12+': '4034, 3132, 2+, 80, 84, 12+',

}

return      0  1  odds_ratio
item_size
4034        0  1         0.0
3132        0  1         0.0
2+          0  2         0.0
80          0  2         0.0
84          0  1         0.0
...        .. ..         ...
49          1  0         inf
3432       13  0         inf
105         1  0         inf
3634        1  0         inf
3834        1  0         inf

[102 rows x 3 columns]

l       12347
xl      10979
m       10190
xxl      8966
40       7693
        ...
3834        1
84          1
4034        1
3634        1
3132        1
Name: item_size, Length: 102, dtype: int64